name: Deploy to GitHub Pages








on:
  push:
    branches: [master, main]
  workflow_dispatch:








permissions:
  contents: read
  pages: write
  id-token: write








jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4








      - name: Remove patches folder
        run: rm -rf patches








      - name: Install pnpm
        uses: pnpm/action-setup@v4








      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          # cache: 'pnpm'








      - name: Install dependencies
        run: npm install --ignore-scripts








      - name: Build
        run: npm run build








      - name: Setup Pages
        uses: actions/configure-pages@v4


